.üritused {
    display: flex;
    flex: 1;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(194, 182, 123);
    padding: 20px;
    border-radius: 4px;
    max-width: 800px;
    margin: 20px;
}

.galerii{
    flex: 1;
    margin-left: 0;
    text-align: center;
    margin: 20px;
    padding-right:100px;
    padding: 20px;
    background-color: rgb(194, 182, 123);
    max-width: 400px;
    border-radius: 4px;
}

.keskmine {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.üritus {
    display: flex;
    align-items: center;
    gap: 10px;
}

.üritus img {
    flex: 0 0 auto;
}

.üritus p {
    flex: 1;
    margin: 0;
    font-size: 18px;
}


.mySlides{
    width: 400px;
    height: 300px;
}

.w3-button{
    background-color: rgb(101, 117, 29);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

p{
    font-size: 20px;
}

h3{
    font-size: 30px;
}

.kast {
    background-color: #C2B67B;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kast:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}